---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Descargar">
	<main>
		<section class="m-4 gap-[3.75rem]">
			<div class="flex flex-col border-[#DBF227] border-t border-l border-r rounded-lg">
				<section>
					<ul class="flex justify-stretch border-[#DBF227] border-b font-geistUltralight">
						<a href="/" class="p-1 border-[#DBF227] border-r inline-block text-center duration-300 hover:bg-[#DBF227] hover:text-[#011A00]">Home</a>
						<a href="/leafti" class="p-1 border-[#DBF227] border-r inline-block text-center duration-300 hover:bg-[#DBF227] hover:text-[#011A00]">¿Qué es Leafti?</a>
						<a href="/download" class="p-1 border-[#DBF227] border-r border-t-4 duration-300 hover:bg-[#DBF227] hover:text-[#011A00]">Descarga el App</a>
					</ul>      
				</section>
				<section class="flex flex-col gap-5 border-[#DBF227] border-b p-4">
					<h1 class="font-geistUltrablack text-3xl">Próximamente...</h1>
				</section>
			</div>
		</section>
	</main>
</Layout>