---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Leafti">
	<main>
		<section class="m-4 gap-[3.75rem]">
			<div class="flex flex-col border-[#DBF227] border-t border-l border-r rounded-lg">
				<section>
					<ul class="flex justify-stretch border-[#DBF227] border-b font-geistUltralight">
						<a href="/" class="p-1 border-[#DBF227] border-r inline-block text-center">Home</a>
						<a href="/leafti" class="p-1 border-[#DBF227] border-r inline-block text-center">¿Qué es Leafti?</a>
						<a href="/download" class="p-1 border-[#DBF227] flex-1 border-t-4 rounded-r-lg text-center whitespace-nowrap">Descarga el App</a>
					</ul>      
				</section>
				<section class="flex flex-col gap-5 border-[#DBF227] border-b p-4">
					<h1 class="font-geistUltrablack text-3xl">Estamos reconstruyendo el futuro de la comunidad.</h1>
					<img src="community.jpg" alt="Comunidad disfrutando en el parque">
				</section>
				<section class="flex flex-col gap-5 font-geistBlack text-xl border-[#DBF227] border-b p-4 rounded-lg">
					<h2 class="font-geistUltrablack text-xl">Haciendo que todos tengamos un mismo objetivo. Cambiar el mundo.</h2>
				</section>
			</div>
		</section>
	</main>
</Layout>