---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Leafti">
	<section class="flex flex-col gap-20">
		<section class="m-4 gap-[3.75rem]">
			<div
				class="flex flex-col border-[#DBF227] border-t border-l border-r rounded-lg"
			>
				<section>
					<ul
						class="flex justify-stretch border-[#DBF227] border-b font-geistUltralight"
					>
						<a
							href="#leafti"
							class="p-1 border-[#DBF227] border-r inline-block text-center duration-300 hover:bg-[#DBF227] hover:text-[#011A00]"
							>¿Qué es Leafti?</a
						>
						<a
							href="#features"
							class="p-1 border-[#DBF227] border-r inline-block text-center duration-300 hover:bg-[#DBF227] hover:text-[#011A00]"
							>Funcionalidades</a
						>
						<a
							href="#download"
							class="p-1 border-[#DBF227] border-r duration-300 hover:bg-[#DBF227] hover:text-[#011A00]"
							>Descargar</a
						>
					</ul>
				</section>
				<section
					class="flex flex-col lg:flex-row lg:items-center gap-5 border-[#DBF227] border-b rounded-lg p-4"
				>
					<div class="flex flex-col gap-2">
						<h1 class="md:text-5xl">
							Estamos reconstruyendo el futuro de la comunidad.
						</h1>
						<h3 class="font-geistUltrablack text-slate-300">
							Donde cada idea surge del deseo de marcar la diferencia. <span
								class="underline text-[#DBF227]"
								>One leaf at a time</span>
						</h3>
					</div>
					<img
						src="community.jpg"
						alt="Comunidad disfrutando en el parque"
						class="lg:size-4/12 rounded-lg"
					/>
				</section>
			</div>
		</section>
		<section class="m-4 gap-[3.75rem]" id="leafti">
			<div
				class="flex flex-col border-[#DBF227] border-t border-l border-r rounded-lg"
			>
				<section
					class="flex flex-col md:flex-row gap-5 border-[#DBF227] border-b rounded-lg p-4"
				>
					<h4 class="md:text-3xl">
						Nosotros vemos a Leafti como un “refresher” para el caótico
						mundo en el que vivimos. Queremos crecer esa raíz de
						esperanza y positividad en cada individuo, empresa o
						institución.
					</h4>
					<div class="flex flex-col gap-5">
						<h2
							class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg md:w-max"
						>
							Te preguntarás, cómo planean hacerlo?
						</h2>
						<p>
							Compartiremos cada proyecto que mejora la <span
								class="text-[#DBF227]">sociedad.</span
							>
							No solo hablamos de reciclaje o del medio ambiente, que claro
							es importante y estará presente, pero nos referimos al sentimiento
							general de <span class="text-[#DBF227]">esperanza.</span
							> A eso que mueve a muchos y sentimos que debería mover a
							todos, ese sentimiento de hacer las cosas <span
								class="text-[#DBF227]">bien</span
							>, de que todos <span class="text-[#DBF227]"
								>ganen.</span
							>
						</p>
					</div>
				</section>
			</div>
		</section>
		<section
			class="flex flex-col gap-5 font-geistBlack text-xl border-[#DBF227] border p-4 m-4 rounded-lg"  id="features"
		>
			<h2 class="text-white rounded-lg">
				Algunas de las funcionalidades que tenemos en mente:
			</h2>
			<section
				class="text-[#011A00] rounded-lg flex flex-col gap-4 md:grid md:grid-cols-3"
			>
				<div
					class="rounded-lg flex flex-col gap-2 border-[#DBF227] border p-2"
				>
					<div class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg w-max">
						<h3>LeaftLets</h3>
					</div>
					<div class="text-white py-2 rounded-lg">
						<p>
							Como ya has leído, nuestra idea principal es potenciar
							proyectos que ayuden a la comunidad, a estos les
							llamamos LeafLets.
						</p>
					</div>
				</div>
				<div
					class="rounded-lg flex flex-col gap-2 border-[#DBF227] border p-2"
				>
					<div class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg w-max">
						<h3>SeedPods</h3>
					</div>
					<div class="text-white py-2 rounded-lg">
						<p>
							A diferencia de los LeafLets, los SeedPods vienen a
							solucionar un problema que nos encontramos en el camino
							de la creación de Leafti. Y es que nosotros no podemos
							con todo, estos serán pequeños aliados por todo el país
							que te ayudarán a potenciar tu LeaftLet.
						</p>
					</div>
				</div>
				<div
					class="rounded-lg flex flex-col gap-2 border-[#DBF227] border p-2"
				>
					<div class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg w-max">
						<h3>Mapa Interactivo</h3>
					</div>
					<div class="text-white py-2 rounded-lg">
						<p>
							Un gran mapa donde puedas encontrar todos los LeaftLets
							y SeedPods. De esta manera puedes ver qué proyectos
							están cerca de ti y cómo puedes ayudar.
						</p>
					</div>
				</div>
				<div
					class="rounded-lg flex flex-col gap-2 border-[#DBF227] border p-2"
				>
					<div class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg w-max">
						<h3>Soporte para negocios</h3>
					</div>
					<div class="text-white py-2 rounded-lg">
						<p>
							Con nuestro concepto de LeafLets y SeedPods, Leafti
							ofrece un valioso apoyo a los negocios locales. Por
							ejemplo, al convertirte en un SeedPod, ganarás
							reconocimiento y las personas percibirán tu negocio de
							manera positiva, lo que se traduce en ganancias
							simplemente por ayudar a otros.
						</p>
					</div>
				</div>
				<div
					class="rounded-lg flex flex-col gap-2 border-[#DBF227] border p-2"
				>
					<div class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg w-max">
						<h3>Gamificación</h3>
					</div>
					<div class="text-white py-2 rounded-lg">
						<p>
							En Leafti, fomentamos la competencia positiva con
							nuestro sistema de Leaderboard y niveles. Esto no solo
							motiva a los usuarios, sino que también beneficia a las
							empresas y personas que crean LeafLets o SeedPods.
							Imagina potenciar tus LeafLets y ser recompensado,
							mientras los SeedPods ganan visibilidad y brindan
							beneficios a los creadores.
						</p>
					</div>
				</div>
				<div
					class="rounded-lg flex flex-col gap-2 border-[#DBF227] border p-2"
				>
					<div class="bg-[#DBF227] text-[#011A00] p-2 rounded-lg w-max">
						<h3>Badges</h3>
					</div>
					<div class="text-white py-2 rounded-lg">
						<p>
							Pequeñas medallas que ganarás por tus acciones. Por
							ejemplo, podrías obtener badges por crear 5 LeafLets o
							visitar 10 SeedPods. Estos badges no solo adornarán tu
							perfil; gracias a convenios con otras empresas, podrían
							ofrecerte descuentos, cupones, regalos en tiendas y
							mucho más.
						</p>
					</div>
				</div>
			</section>
		</section>
		<section class="m-4 gap-[3.75rem]" id="download">
			<div
				class="flex flex-col border-[#DBF227] border-t border-l border-r rounded-lg"
			>
				<section
					class="flex flex-col gap-5 border-[#DBF227] border-b rounded-lg p-4"
				>
					<h1 class="font-geistUltrablack text-3xl">
						Próximamente en iOS y Android
					</h1>
				</section>
			</div>
		</section>
	</section>
</Layout>
