---
interface Props {
  url : string;
}

const { url } = Astro.props;
---

<div class="absolute my-[2rem] -z-10">
	<img src={url} alt="background"/>
</div>

<style>
	body {
		background: #D6D58E;
	}
</style>