---
import { Icon } from 'astro-icon/components'
---

<footer class="m-4 border-primary border rounded-lg">
	<div class="flex items-center justify-between gap-2 p-2">
		<ul class="w-[15rem] md:w-max">
			<li>
				<h3>Planting seeds of hope, growing a world of compassion.</h3>
			</li>
		</ul>
		<ul class="flex flex-col md:flex-row gap-2 font-geistRegular">
			<li>
				<h5>Contact</h5>
			</li>
			<li>
				<h5>About</h5>
			</li>
			<li>
				<h5>Privacy Policy</h5>
			</li>
		</ul>
	</div>
</footer>
<h4 class="flex justify-center font-geistMedium mb-2">&#169 2024 Leafti. All Rights Reserved.</h4>