---
---

<section class="m-6">
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-5 mt-10">
      <h1 class="font-geistUltrablack text-4xl text-[#593E25] p-2 bg-[#DBF227] w-max shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Bienvenidos a</h1>
      <h1 class="font-geistUltrablack text-7xl text-[#593E25] p-2 bg-[#DBF227] w-max shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Leafti</h1>
    </div>
    <section class="text-2xl text-[#593E25] flex flex-col gap-5 mt-10 font-geistBlack">
      <p class="p-2 bg-[#DBF227] shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Somos una app dedicada a unir a la comunidad de Panamá para un futuro más positivo y conectado.</p>
      <p class="p-2 bg-[#DBF227] shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Nuestra misión es cultivar una cultura de unidad y felicidad, donde cada individuo pueda marcar la diferencia.</p>
      <p class="p-2 bg-[#DBF227] shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Únete a nosotros para crear un Panamá lleno de positividad y esperanza.</p>
    </section>
  </div>
</section>