---
---

<section class="m-6">
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-5">
      <h2 class="font-geistUltrablack text-6xl text-[#80FF03] p-2 bg-[#035B03] w-max shadow-[5px_5px_0px_0px_rgba(4,143,23)]">This</h2>
      <h1 class="font-geistUltrablack text-6xl text-[#80FF03] p-2 bg-[#035B03] w-max shadow-[5px_5px_0px_0px_rgba(4,143,23)]">is <u>Leafti</u></h1>
    </div>
    <section class="text-2xl text-[#80FF03] flex flex-col gap-5 font-geistMedium">
      <p class="p-2 bg-[#035B03] shadow-[5px_5px_0px_0px_rgba(4,143,23)]">¡Bienvenidos a Leafti! Somos una app dedicada a unir a la comunidad de Panamá para un futuro más positivo y conectado.</p>
      <p class="p-2 bg-[#035B03] shadow-[5px_5px_0px_0px_rgba(4,143,23)]">Nuestra misión es cultivar una cultura de unidad y felicidad, donde cada individuo pueda marcar la diferencia.</p>
      <p class="p-2 bg-[#035B03] shadow-[5px_5px_0px_0px_rgba(4,143,23)]">Únete a nosotros para crear un Panamá lleno de positividad y esperanza.</p>
    </section>
  </div>
</section>