---
---

<section class="m-6">
  <div class="flex flex-col gap-[3.75rem] mt-[3.75rem]">
    <section class="flex flex-col gap-5">
      <h2 class="font-geistUltrablack text-4xl text-[#593E25] p-2 bg-[#c7db25] w-max shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Bienvenidos a</h2>
      <h1 class="font-geistUltrablack text-7xl text-[#c7db25] p-2 bg-[#593E25] w-max shadow-[5px_5px_0px_0px_rgba(61,43,26)]">Leafti</h1>
    </section>
    <section class="text-[#593E25] flex flex-col gap-5 font-geistBlack">
      <h2 class="p-2 bg-[#c7db25] shadow-[5px_5px_0px_0px_rgba(61,43,26)] w-max text-2xl">Qué es Leafti?</h2>
      <p>Leafti es un App que tiene como objetivo unir al país entero. 
        Si hay algo que falta en Panamá es cambiar la 
        mentalidad de las personas, empresas e instituciones.</p>
      <p>Por eso creamos esta App, para mantener a toda la población en constante movimiento hacia un país mejor.</p>
      <p>Tenemos demasiadas ideas en mente para el futuro, pero por ahora puedes ver las que ya están disponibles descargando nuestra App.</p>
    </section>
  </div>
</section>