---
---

<section class="pt-5 mx-3">
  <div class="font-geistMedium">
    <h1 class="text-3xl text-[#035B03]">This is Leafti, a place where we bridge connections and cultivate change.</h1>
  </div>
</section>