---
import { Icon } from 'astro-icon/components'
---

<nav class="m-4">
  <div class="flex justify-between items-center flex-row-reverse">
    <section class="flex gap-1">
      <a href="#">
        <div class="transition-all duration-150 hover:scale-110 p-1 flex justify-center items-center text-2xl">
          <Icon name="burger2" />
        </div>
      </a>
    </section>
    <section class="flex justify-center items-center transition-all duration-150 hover:scale-110">
      <div class="p-1 flex justify-center items-center text-2xl">
        <Icon name="leafti2" />
      </div>
      <a href="#">
        <h2 class="text-2xl font-geistBlack cursor-pointer">Leafti</h2>
      </a>
    </section>
  </div>
</nav>