---
import { Icon } from 'astro-icon/components'
---

<nav class="pt-5 mx-6 my-4">
  <div class="flex justify-between text-slate-300">
    <section>
      <Icon name="leafti"/ class="text-4xl transition-all duration-150 hover:scale-110 cursor-pointer">
    </section>
    <section>
      <ul class="flex gap-3">
        <li>
          <a href="/docs">
            <Icon name="burger" class="text-4xl transition-all duration-150 hover:scale-110"/>
          </a>
        </li>
      </ul>
    </section>
  </div>
</nav>